 

 
 <h1> All Flights</h1>

 <h3 id="flightData"> <%= link_to " Click to See All Flights", ''%></h3> <br />

  

<br>



   

<br>
 <h4> <strong>Create a Flight</strong></h4>
     <%= hidden_field_tag :user_id, current_user.id %>

    <%= hidden_field_tag :name => request_forgery_protection_token.to_s, :value => form_authenticity_token %>
   
     <p><%= link_to "Create a New flight", new_flight_path %></p>
 <br>



 